<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="_0503_ImageService.ImageControl"
					 behaviorConfiguration="eeeeeeee">
				<host>
					<!-- WSDL 문서 제공 주소 역할 -->
					<baseAddresses>
						<add baseAddress="http://10.101.15.108/wcf/wb37/Imageservice"/>						
					</baseAddresses>
				</host>
				<endpoint contract="_0503_ImageService.IImage"
						  address =""
						  binding ="basicHttpBinding" bindingName="AttachmentBinding"/>				
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="eeeeeeee">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!--이미지 대용량 보내기-->
		<bindings>
		  <basicHttpBinding>
			<binding name="AttachmentBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" receiveTimeout="00:01:00" sendTimeout="00:01:00"
					 textEncoding="utf-8" openTimeout="00:01:00">
			  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
			  <security mode="None" />
			</binding>
		  </basicHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>